<h1>Store</h1>
<p>To remove items, use negative numbers(in real life we would never design a UI
  like this!)</p>

<form action='/cart/add-to-cart' method='POST'>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th class='text-right'>Price</th>
        <th class='text-right'>Guests</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{name}}</td>
          <td class='text-right'>{{price}}</td>
          <td class='text-right'>
            <input type='number' value='0' name='guests-{{id}}' />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <button type='submit' class='btn btn-primary'>Add To Cart</button>
</form>

<h1>Your Shopping Cart</h1>
<ul>
  {{#each cart.errors}}
    <div class='alert alert-dismissible alert-danger'>
      <button
        type='button'
        data-dismiss='alert'
        aria-hidden='true'
        class='close'
      >&times;</button>
      <strong>Error!</strong>
      {{this}}
    </div>
  {{/each}}

  {{#each cart.warnings}}
    <div class='alert alert-dismissible alert-warning'>
      <button
        type='button'
        data-dismiss='alert'
        aria-hidden='true'
        class='close'
      >&times;</button>
      <strong>Warning!</strong>
      {{this}}
    </div>
  {{/each}}

  <table class='table'>
    <thead>
    <tr>
      <th>Name</th>
      <th class='text-right'>Price</th>
      <th class='text-right'>Guests</th>
    </tr>
    </thead>
    <tbody>
    {{#each cart.items}}
      <tr>
        <td>{{product.name}}</td>
        <td class='text-right'>{{product.price}}</td>
        <td class='text-right'>{{guests}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <a href='/cart/checkout' style='text-decoration: none'>
    <button>Check out</button>
  </a>
</ul>
